html, body {
	margin: 0;
	padding: 0;
}

#loading-overlay {
	background-color: black;
	color: white;
	opacity: 0.6;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading-overlay div {
	text-align: center;
	padding-top: 150px;
}

.dialog {
	background-color: #5d5b5b;
	
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.dialog>div {
	position: relative;
	
	background-color: #bfbfbf;
	border: solid 1px black;
	border-radius: 20px;
	
	margin: auto;
	margin-top: 100px;
	padding: 30px;
	width: 400px;
	height: 380px;
}

.dialog .controls {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#newboard {
	margin-left: 30px;
}

#newboard label {
	display: inline-block;
	width: 40px;
}

.bumper {
	position: relative;
	display: inline-block;
	text-align: center;
	border: black solid 1px;
	vertical-align: top;
}

.bumper .edit {
	display: inline-block;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.playing-true {
	background: #44d1fb;
}

.background-true.playing-true {
	background: #8dedfe !important;
}

.loop-true.playing-true {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: loopanimate;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
}

#controls {
	margin: 0;
}


@-webkit-keyframes loopanimate {
	from {
		background-color: #44d1fb;
	}
	
	to {
		background-color: #8dedfe;
	}
}