<div id='controls' ng-click='showBoardSelectUI = true'>
	<h2>{{board.title}}</h2>
</div>

<div id='board'>
	<div ng-controller='BumperCtrl' ng-repeat="bumper in board.bumpers" ng-click='startTrack()' 
			class='bumper playing-{{bumper.playing}}' id="bumper-{{$index}}"
			style='width:{{95/board.cols | number:0}}%; height:{{95/board.rows | number:0}}%'>
		{{bumper.label}}
		
		<div ng-click="editBumper($index, $event)" class='edit'>Edit</div>
	</div>
</div>


<div id='loading-overlay' ng-hide='bumpersLoaded'>
	<div>
		Loading...
	</div>
</div>

<div class='dialog' id='bumperEdit' ng-show='showBumperEditUI'>
	<div>
		<h1>Edit Bumper</h1>
		
		<div>
			<label for='label'>Label</label>
			<input id='label' ng-model='editingBumper.label' />
		</div>
		<div>
			<label for='filename'>Filename</label>
			{{editingBumper.filename}} <input type='file' id='filename' onchange='angular.element(this).scope().setEditFile(this)' />
		</div>
		<div>
			<label for='trackStart'>Track Start</label>
			<input id='trackStart' ng-model='editingBumper.trackStart' />
		</div>
		<div>
			<label for='fadeIn'>Fade In (s)</label>
			<input id='fadeIn' ng-model='editingBumper.fadeIn' />
		</div>
		<div>
			<label for='background'>Background</label>
			<input id='background' ng-model='editingBumper.background' type='checkbox' />
		</div>
		<div>
			<label for='loop'>Loop</label>
			<input id='loop' ng-model='editingBumper.loop' type='checkbox' />
		</div>
		<div>
			<label for='loopStart'>Loop Start (s)</label>
			<input id='loopStart' ng-model='editingBumper.loopStart' />
		</div>
		<div>
			<label for='loopEnd'>Loop End (s)</label>
			<input id='loopEnd' ng-model='editingBumper.loopEnd' />
		</div>
		<div>
			<label for='volume'>Volume</label>
			<input id='volume' ng-model='editingBumper.volume' />
		</div>
		<div>
			<label for='goTo'>Go To Track</label>
			<input id='goTo' ng-model='editingBumper.goTo' />
		</div>
		<div>
			<label for='goToDelay'>Go To Delay</label>
			<input id='goToDelay' ng-model='editingBumper.goToDelay' />
		</div>

		<div class='controls'>
			<button type='button' ng-click='saveBumper()'>Save</button>
		</div>
	</div>
</div>

<div class='dialog' id='boardSelect' ng-show='showBoardSelectUI'>
	<div>
		<h1>Select a Board</h1>
		<div ng-repeat='b in boards' ng-click='changeBoard($index)'>
			<span ng-show='b==board'>&raquo;</span>
			{{b.title}}
		</div>
		
		<div class='controls'>
			<button type='button' ng-click='showBoardSelectUI=false'>Cancel</button>
			<button type='button' ng-click='showNewBoardUI=true'>New Board</button>
			<button type='button' ng-click='getDefaultBoards()'>Restore Default Boards</button>
		</div>
		
		<div id='newboard' ng-show='showNewBoardUI'>
			<h2>New Board</h2>
			<form>
				<div>
					<label for='title'>Title</label>
					<input id="title" ng-model="newTitle" />
				</div>
				<div>
					<label for='rows'>Rows</label>
					<input id="rows" ng-model="newRows" type='number' />
				</div>
				<div>
					<label for='cols'>Cols</label>
					<input id="cols" ng-model="newCols" type='number' />
				</div>
				<button type='button' ng-click='createBoard()'>Create</button>
				<button type='button' ng-click='showNewBoardUI=false'>Cancel</button>
			</form>
		</div>
	</div>
</div>

<script>
$(function() {
	$('#board').height($(window).height() - $('#controls').height() - 50);
});

$(window).resize(function() {
	$('#board').height($(window).height() - $('#controls').height() - 50);
});
</script>