<div id='controls' ng-click='showBoardSelectUI = true'>
	<h2>{{board.title}}</h2>
</div>

<div id='board'>
	<div ng-repeat="bumper in board.bumpers" ng-click='startTrack(bumper)' class='bumper playing-{{bumper.playing}}' 
			style='width:{{95/board.cols | number:0}}%; height:{{95/board.rows | number:0}}%'>
		{{bumper.label}}
	</div>
</div>


<div id='loading-overlay' ng-hide='bumpersLoaded'>
	<div>
		Loading...
	</div>
</div>

<div class='dialog' id='boardSelect' ng-show='showBoardSelectUI'>
	<div>
		<h1>Select a Board</h1>
		<div ng-repeat='b in boards' ng-click='changeBoard($index)'>
			<span ng-show='b==board'>&raquo;</span>
			{{b.title}}
		</div>
		
		<div id='boardSelectControls'>
			<button type='button' ng-click='showBoardSelectUI=false'>Cancel</button>
			<button type='button' ng-click='showNewBoardUI=true'>New Board</button>
			<button type='button' ng-click='getDefaultBoards()'>Restore Default Boards</button>
		</div>
		
		<div id='newboard' ng-show='showNewBoardUI'>
			<h2>New Board</h2>
			<form>
				<div>
					<label for='title'>Title</label>
					<input id="title" ng-model="newTitle" />
				</div>
				<div>
					<label for='rows'>Rows</label>
					<input id="rows" ng-model="newRows" type='number' />
				</div>
				<div>
					<label for='cols'>Cols</label>
					<input id="cols" ng-model="newCols" type='number' />
				</div>
				<button type='button' ng-click='createBoard()'>Create</button>
				<button type='button' ng-click='showNewBoardUI=false'>Cancel</button>
			</form>
		</div>
	</div>
</div>

<script>
$(function() {
	$('#board').height($(window).height() - $('#controls').height() - 50);
});

$(window).resize(function() {
	$('#board').height($(window).height() - $('#controls').height() - 50);
});
</script>