<div id='controls' ng-click='selectBoard()'>
	<h2>{{board.title}}</h2>
</div>

<div id='board'>
	<div ng-repeat="bumper in board.bumpers" ng-click='startTrack(bumper)' class='bumper playing-{{bumper.playing}}' 
			style='width:{{95/board.cols | number:0}}%; height:{{95/board.rows | number:0}}%'>
		{{bumper.label}}
	</div>
</div>


<div id='loading-overlay' ng-hide='bumpersLoaded'>
	<div>
		Loading...
	</div>
</div>

<div class='dialog' id='boardSelect' ng-show='showBoardSelectUI'>
	<div>
		<h1>Select a Board</h1>
		<div ng-repeat='b in boards' ng-click='changeBoard($index)'>
			<span ng-show='b==board'>&raquo;</span>
			{{b.title}}
		</div>
	</div>
</div>

<script>
$(function() {
	$('#board').height($(window).height() - $('#controls').height() - 50);
});

$(window).resize(function() {
	$('#board').height($(window).height() - $('#controls').height() - 50);
});
</script>